* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

/* This style for Header and Navigation*/
.navbar-brand {
    margin-left: 200px;
}

.navbar-nav {
    margin-right: 200px;
}

.navbar-item:hover {
    color: #ffc20e !important;

}

@media (max-width: 980px) {

    .navbar-brand,
    .navbar-nav {
        margin: 0;
    }
}

.header {
    height: 400px;
    background-image: linear-gradient(rgba(9, 9, 9, 0.7), rgba(0, 0, 0, 0.6)), url('images/download.jpg');
    background-attachment: fixed;
    position: relative;
    flex-direction: column;
}

.welcome {
    height: 500px;
}

.hmt-home-header:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -16px;
    border-bottom: 19px solid white;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
}

.welcome h1 {
    text-align: center;
    padding: 150px 0px 0px 0px;
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px black;
}

.banner-stcei {
    color: #ffc20e;
    text-shadow: 2px 2px black;
}

.welcome p {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/* Header and Navigation style end here*/

/* This style for About Us Section */
.heading {
    margin: 0px auto 30px auto;
}

.heading p {
    margin: 20px 0px 0px 0px;
    color: rgb(25, 23, 46);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.b-border {
    height: 5px;
    background-color: #ffc20e;
    width: 100px;
    margin: 0px auto;
    border-radius: 5px;
}

.aboutus-main {
    display: flex;
    /* padding: 10px; */
    justify-content: center;
    vertical-align: top;
    width: 80%;
}

.aboutus-one {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 0px -4px;
    padding: 10px;
    vertical-align: top;
}

.aboutus-data p {
    padding: 15px 10px;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    color: rgb(79, 78, 78);
}

.aboutus-img {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 0px -4px;
    padding: 10px;
    vertical-align: top;
}

/* About Section style ends here*/

/* This Style for Why Stcei*/
.icon-box i {
    font-size: 80px;
    margin-bottom: 20px;
}

.icon-box h3,
.icon-box h2 {
    font-weight: 700;
    text-align: center;
}

.icon-box p {
    font-size: 18px;
    text-align: center;
    padding: 0 15px;
}

/* Why Stcei Section Style Ends Here*/

/* Gold colored portion style*/
.stats-section {
    background-color: #ffc20e;
    padding: 40px 0;
    color: white;
    text-align: center;
}

.stat-box h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
    color: black;
}

.stat-box p {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

/* Gold colored portion style ends here*/

/* Popular Courses style starts here*/
.course-section {
    padding: 60px 0;
}

.course-card {
    border-radius: 7px;
    border-top: 3px solid #ffc20e;
    border-bottom: 3px solid #ffc20e;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    background: #fff;
    padding: 20px 0;
}

.course-card:hover {
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.course-img img {
    width: 65px;
    height: 65px;
    margin-bottom: 10px;
}

.course-data p {
    font-weight: 600;
    margin: 0;
}

/* Internship Section CSS*/
.intern-main {
    margin: 20px 0;
    padding: 30px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(45, 41, 41, 0.6)), url('images/bg.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
}

.intern-text p {
    font-size: 18px;
    color: #f8f9fa;
}

.atoz {
    color: #0dcaf0;
    text-decoration: none;
    font-weight: 600;
}

.atoz:hover {
    color: #ffc20e;
    text-decoration: underline;
}

/* Internship Section CSS Ends Here*/

/*Our Teachers Section Starts Here */
.teachers-data {
    width: 530px;
    margin: 0 auto;
}


.teacher {
    width: 215px;
    margin: 0 auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.teacher-img img {
    width: 215px;
    height: 300px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: cover;
}

.teacher-text {
    text-align: center;
    padding: 5px 0;
}

.teacher-text h3 {
    font-size: 20px;
    padding: 2px;
    margin-top: 5px;
}

/* Our Teachers Section Ends Here */

/* Student words section*/
.student-word-container {
    margin: 20px 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(images/student.jpg);
    min-height: 400px;
    background-attachment: fixed;
    vertical-align: middle;
}

.student-pic {
    text-align: center;
}

.student-pic img {
    border-radius: 50%;
    height: 120px;
    width: 110px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 5px;
}

.student-word {
    color: white;
    font-size: 18px;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 10px;
}

/* Popular Courses Section Ends Here*/

/* Contact Us Section Starts Here*/
.contact-card{
    padding: 30px 20px;
    width: 330px;
    min-height: 300px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.location-icon{
    height: 70px;
    width: 70px;
    border: 2px dotted gray;
    border-radius: 50%;
    padding: 10px;
}

.location-icon i{
    font-size: 40px;
    color: #ffc20e;
}
.g-btn{
    background-color: #ffc20e;
    color: white;
    border: none;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 10px;
}
#top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    background-color: #ffc412;
}
